body {
    font-family: Arial;
    background: #f4f6fb;
    margin: 0;
}
.navbar {
    display: flex;
    gap: 5px;
    padding: 10px;
    background: #ddd;
}
.navbar a {
    padding: 8px 15px;
    background: #eee;
    border: 1px solid #aaa;
    cursor: pointer;
    font-size: 14px;
}
.navbar a {
    background: #d09047;
    color: white;
}
.container {
    padding: 20px;
    text-align: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}
.buttons button {
    padding: 12px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}
.buttons button:nth-child(1){background:#4a6cf7;}
.buttons button:nth-child(2){background:#46b8da;}
.buttons button:nth-child(3){background:#5bc0de;}
.buttons button:nth-child(4){background:#e91e63;}
.buttons button:nth-child(5){background:#9c27b0;}
.buttons button:nth-child(6){background:#673ab7;}

.filter {
    margin: 15px;
}
#report-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    min-height: 200px;
}